$white-c: #FFFFFF;
$black-c: #000000;

$primary-brand-c: #16A085;
$primary-bg-c: #FAFAFA;
$primary-header-c: #AFAFAF;
$primary-text-c: #3A3A3A;

$secondary-text-c: #DADADC;
$secondary-text-c2: #B6B7B9;
$secondary-footer-c: #636575;
$secondary-bg-c: #343646;

$hover-c: rgb(17, 145, 119);

$heightSection: calc(100vh - 80px);